/*
	Ratings Stars
	(with as little code as possible)
*/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  color: gold;

}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color: gold;


}
.rating > span:hover,
.rating > span:hover ~ span {
  color: yellow;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;
}




body { padding: 100px; }